
/* .link {
    width: 70vw;
    min-width: 300px; 
    max-width: 1200px; 
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    color: #000;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 0.6em;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 500ms;
  } */

  .link {
    width: 240px;
    height: 240px;
    margin: 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(16px); 
    color: #000;
    cursor: pointer;
    margin-bottom: 0.6em;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 500ms;
  }
  
 .link:hover {
    scale: 1.1;
    border: transparent;
  }

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .contents {
    display: grid;
    grid-template-rows:  32px 32px auto ;
    place-items: center;
  }

  .contents > img {
    grid-row: 1 / span 1;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .contents > h3 {
    grid-row: 2 / span 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .contents > h4 {
    grid-row: 3 / span 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  /* .contents {
    display: grid;
    grid-template-columns: 12px 32px 8px auto 12px;
    grid-template-rows: 16px 32px 8px 63px 16px;
    align-items: center; 
    justify-items: start; 
  }

  .contents > img {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .contents > h3 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .contents > h4 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    font-family: 'Roboto', sans-serif;
    align-self: start;
    text-align: start;
    margin: 0;
    padding: 0;
  } */